#main{
    height: 100vh;
}
#main div i{
    font-size: 12rem;
}
.navbar{
    background-color: #5F939A;
}


footer{
    background-color: #5F939A;
}


#navbarNav ul li a{
    transition: ease-in;
    color: #EEEEEE;
}

#navbarNav ul li a:hover{
    border-bottom: solid #EEEEEE;
}

#form{
    color: #393E46;
    background-color: #d3e4cd96;
}


